<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>团长来啦</title>
    <link rel="stylesheet" href="/lib/bootstrap-responsive.css">
    <link rel="stylesheet" href="/lib/bootstrap.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/payment.css">

    <script src="/lib/sea-debug.js" data-v="<%=: version %>"></script>
    <script src="/lib/jquery.js"></script>
    <script src="/lib/bootstrap.js"></script>
    <script src="/js/payment.js"></script>
</head>
<body>
    <% include header.html %>
    <%- body %>
    <% include footer.html %>
</body>
</html>